* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  box-sizing: border-box;
}
.overly {
  height: 86vh;
  width: 100%;
  background-color: rgb(168, 154, 181);
  position: absolute;
  opacity: 0.3;
  margin-top: 146px;
}

/* logo */
.logo h2 {
  color: white;
  transition: all 0.5s;
}
.logo h2 i {
  font-size: 30px;
  color: yellow;
  font-size: 45px;
}
.logo h2 i:hover {
  color: ivory;
}
/* nave bar 1 */
.nave {
  height: 2%;
  background-color: #4c4782;
  display: flex;
  padding: 20px 350px;
  justify-content: space-between;
}

.sub-nave {
  display: flex;
  gap: 30px;
}
.sub-nave h4 {
  color: #fff;
  opacity: 0.7;
  transition: all 0.3s;
  cursor: pointer;
}

.sub-nave h4:hover {
  opacity: 1;
}
.nave h6 {
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  display: inline;
  padding: 15px;
  opacity: 0.7;
}

.i i {
  color: white;
  padding: 0 7px;
  font-size: 16px;
  opacity: 0.7;
  transition: all 0.3s;
}

.i i:hover {
  opacity: 1;
}

.span {
  height: 2px;
  width: 100%;
  background-color: rgb(16, 61, 2);
}
/* nave bar end */

/* nave bar 2 */
.navbere {
  background-color: #26243c;
  margin: auto;
  padding: 26px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  color: #f3efef;
}
.navbere ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbere ul li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
}
.navbere ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.5s;
}
.navbere ul li:hover::after {
  width: 100%;
}

/* === nave bar 2 end === */

/* === 3rd section start === */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px 30px;
  margin: 0 1rem 0 4rem;
}

.grid-container > div {
  border-radius: 20px;
  margin: 2rem;
  font-size: 30px;
}
.box-9 {
  display: flex;
  gap: 10px;
}
.class-img img {
  margin-top: 5px;
  border-radius: 10px;
}
.class-text {
  margin-top: 13px;
}
.class-text h4 {
  color: rgb(8, 8, 8);
  font-family: sans-serif;
  font-size: 27px;
}
.class-text h5 {
  margin-top: 3px;
  color: rgb(65, 65, 65);
  font-family: sans-serif;
  font-size: 20px;
}

/* === 3rd section end === */

/* === ==== */

.about-our-cmpny {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  margin: 1rem 8rem 1rem 9rem;
}
.company-text h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  margin: 2rem;
}
.company-text p {
  font-size: 20px;
  margin: 1rem 9rem 2rem 2rem;
}
.three-hundet strong {
  font-size: 40px;
  margin: 0 0 0 2rem;
  color: rgb(240, 122, 26);
}
.three-hundet p {
  font-size: 25px bold;
  margin-bottom: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.said-300 {
  display: flex;
}
.saider-text p {
  height: 90px;
  padding: 10px 15px;
  width: 180px;
  font-size: 25px;
  background-color: orangered;
  margin: 0 15px;
}
.company-img img {
  padding: 30px 20px;
}
